/***************/
/* text styles */
/***************/
label.large {
	font-style: normal;
	font-size: large;
}

.empty-view label {
	font-size: 20px;
	font-weight: 700;
}

/***********************/
/* theme label preview */
/***********************/
label.article-theme-default {
	color: black;
	background-color: white;
}

label.article-theme-midnight {
    color: #fff;
    background: #233540;
}

label.article-theme-spring {
	color: #405e80;
    background: #f8fff2;
}

label.article-theme-parchment {
	color: #99400f;
    background: #faf2e1;
}

label.article-theme-gruvbox {
    color: #fbf1c7;
    background: #282828;
}


/***************/
/*    misc     */
/***************/
.sidebar .item-count {
	background-color: shade(@theme_selected_fg_color, 0.5);
	color: @theme_bg_color;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 12px;
	min-width: 12px;
	padding: 2px 5px 1px;
}

.backward-arrow-expanded {
	-gtk-icon-transform: rotate(-90deg);
}

.backward-arrow-collapsed {
	-gtk-icon-transform: rotate(0deg);
}

.error-data {
	background: @theme_base_color;
	border-radius: 4px;
	border: 1px solid @borders;
}

/* fix article footer alignment */
.article-footer > menubutton,
.article-footer > stack > button {
	margin-top: 5px;
	margin-bottom: 5px;
}